.NavContainer{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    gap: 100px;
    align-items: center;
    justify-content: center;
    .activebuttons{
        color: black;
    }
    
}