#pastesearch{
    width: 700px;
    height: 30px;
    border-radius: 8px;
}
.pastelist{
    border: 1px solid white;
    margin: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.pasteTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pasteButtons{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.pasteDate{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    color: #646cff;
    background-color: #242424;
}
